@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn: #fffcf9;
}
body {
  background: var(--btn);
  overflow-x: hidden;
}
@layer components {
 .header{
  @apply sticky top-0  z-10;
 }

}

.navMenu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin: 40px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgb(194, 181, 181);
  
  transition: hover 2s ease;
}
@media (max-width: 1000px) {
  .navMenu {
    overflow-y: scroll;
  }
}
.navMenu h3 {
  width: 100%;
  color: #000;
  font-size: 24px;
}
.mainNav {
width: 90%;
  padding: 10px;
  margin: 0;
 
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  
}
.mainSide {
  width: 100%;
  min-width: 100%;
}
.nav {
  padding: 20px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}
ul.navMenu2 {
  
}
.navMenu2 a {
}
.navMenu2 li {
  margin: 10px;
  padding: 20px;

  border-bottom: 1px solid #ccc;
}

.sideBtn {
  margin: 10px;
  padding: 20px;
  width: 100%;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 40px;
}
.openContainer {
 
  padding:0px;
}

.sideCap h3 {
  font-size: 16px;
  padding:20px;
}
.sideCap {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding:0 20 0 20px;
  margin:10px;

}

@media (max-width: 600px) {
  .sideCap {
    font-size: 20px;
  }
}



@media (max-width: 1000px) {
  .main__container {
    flex-direction: column;
  }
}

.private__pane {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  padding:30px;
  margin:auto;
}
@media (max-width: 1000px) {
  .private__pane {
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
    text-align: left;
    padding:40px;
    
  }
}
.private__title {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
  width: 70%;
}
@media (max-width:1000px){
  .private__title{
    text-align: left;
    width:100%;
    align-items: flex-start;
  }
  .private__title h2 {
    font-size: 2px;
    padding: 10px;
    margin: 5px;
  
  }
}
.private__title h2 {
  font-size: 40px;
  padding: 15px;
  margin: 10px;

}
@media (max-width: 1000px) {
  .private__title h2{
    font-size:24px;
  }
}

.private__rowq {
  padding: 20px;
  margin: 40px;
  width:100%;
}

.main__container{
  background-color:#151b34;
  color:#fff;

}

.items__a h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.items__a p {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .items__a p{
    font-size:16px;
  }
}
.main{
  background-color:#151b34;
  color:#fff;
}
.a_wrap{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:60px;
  margin:auto;

}
.wrap_item{
  width:100%;
  padding:20px;
  margin:auto;
}

.wrap_item h1{
  width:50%;
  font-size:80px;
  line-height:1em;
  margin-bottom:20px;
}
.wrap_item p{
  width:80%;
  font-size:20px;
  line-height:1.5em;
  
}
@media (max-width:1000px){
  .a_wrap{
    flex-direction: column;
    align-items: left;
    width:100%;
    padding:10px;
  }
  .wrap_item h1{
    font-size:50px;
    line-height: normal;
    width:100%;
  }
  .wrap_item p{
    font-size:16px;
    line-height: normal;
    width:100%;
  }
}