@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x:inherit;
}

body{
  background:rgb(255, 252, 249);
}
@layer components{
  .header{
    @apply  fixed bg-[#fbfbfa] w-full z-10 mb-4;

  }

}

.navMenu{
  display: flex;
  flex-direction:column ;
  padding:10px;
  width: 100%;
  margin:40px;
  background:#fff;
  border-radius:20px;

  border: 1px solid rgb(194, 181, 181);
  transition: hover 2s ease;
}
.navMenu h3{
  width:100%;
  color:#000;
  font-size:24px;
}
.mainNav{
  width:100%;
  padding:20px;
  height:40%;
}
.content{
  /* padding:20px; */

  margin:20px;
}
.mainSide{
  margin-top:40px;
  
  top:0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  color:#000;
  height:100vh;
}
.nav{
  padding:20px;
  height: 100vh;
  width:10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}
.navMenu2{
  font-size: 20px;
  width:100%;
}
.navMenu2 a{
 
}
.navMenu2 li{
  margin:10px;
  padding:20px;
  border-bottom: 1px solid #ccc;
}
