@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'web_boingsemibold';
  box-sizing: border-box;
}
@font-face {
  font-family: 'web_boingsemibold';
  src: url('/webfontkit/boing_semibold_web-webfont.woff2') format('woff2'),
       url('/webfontkit/boing_semibold_web-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
h1 {
  font-family: 'web_boingsemibold', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  }

  h3,p,a{
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
:root {
  --btn: #fffcf9;
}
body {
  background: var(--btn);
  overflow-x: hidden;

}
@layer components {
 .header{
  @apply sticky top-0  z-10;
 }

}

.navMenu {
  flex-direction: column;
  width: 100%;
  padding:25px;
  margin:auto;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgb(194, 181, 181);


}
.navMenu h3 {
  width: 100%;
  color: #000;
  font-size: 24px;
}
.mainNav {

  margin: 0;
 
}
.content {

padding:px;
 
  
}
.mainSide {
  width: 100%;
  min-width: 100%;
}
.nav {
  padding: 20px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
}
ul.navMenu2 {
  
}
.navMenu2 a {
}
.navMenu2 li {
  margin: 10px;
  padding: 20px;

  border-bottom: 1px solid #ccc;
}

.sideBtn {
  margin: 10px;
  padding: 20px;
  width: 100%;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 40px;
}
.openContainer {
 
  padding:0px;
}

.sideCap h3 {
  font-size: 16px;
  padding:20px;
}
.sideCap {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding:0 20 0 20px;
  margin:10px;

}

@media (max-width: 600px) {
  .sideCap {
    font-size: 20px;
  }
}



@media (max-width: 1000px) {
  .main__container {
    flex-direction: column;
  }
}

.private__pane {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  padding:30px;
  margin:auto;
}
@media (max-width: 1000px) {
  .private__pane {
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
    text-align: left;
    padding:40px;
    
  }
}
.private__title {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
  width: 70%;
}
@media (max-width:1000px){
  .private__title{
    text-align: left;
    width:100%;
    align-items: flex-start;
  }
  .private__title h2 {
    font-size: 2px;
    padding: 10px;
    margin: 5px;
  
  }
}
.private__title h2 {
  font-size: 40px;
  padding: 15px;
  margin: 10px;

}
@media (max-width: 1000px) {
  .private__title h2{
    font-size:24px;
  }
}

.private__rowq {
  padding: 20px;
  margin: 40px;
  width:100%;
}

.main__container{
  background-color:#151b34;
  color:#fff;

}

.items__a h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.items__a p {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .items__a p{
    font-size:16px;
  }
}
.main{
  background-color:#151b34;
  color:#fff;
}
.a_wrap{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:60px;
  margin:auto;

}
.wrap_item{
  width:100%;
  padding:20px;
  margin:auto;
}

.wrap_item h1{
  width:50%;
  font-size:80px;
  line-height:1em;
  margin-bottom:20px;
}
.wrap_item p{
  width:80%;
  font-size:20px;
  line-height:1.5em;
  
}
@media (max-width:1000px){
  .a_wrap{
    flex-direction: column;
    align-items: left;
    width:100%;
    padding:10px;
  }
  .wrap_item h1{
    font-size:50px;
    line-height: normal;
    width:100%;
  }
  .wrap_item p{
    font-size:16px;
    line-height: normal;
    width:100%;
  }
}

/* Scroll Component */
.high{
  background-color: #151b34;
}
.scroll__div{
  background-color: #fec569;
  border-bottom-left-radius:80px;
  border-bottom-right-radius:80px;

}



.icon{
  width:50px;
  margin-right:40px;
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  height:80vh;
}
.scroll__btn{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:150px;
  
}
.scroll__btn button, .scroll_btn2{
  border: 1px solid rgba(255, 255, 255, 0.326);
  padding:10px;
  border-radius: 50%;
  margin:15px;
}
.itemR{
  width:80%;
  font-size:60px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.scroll__container{
 display: flex;
  overflow: hidden;
  width: 85%;
  /* padding:30px; */

}

.scroll__nav{
flex-shrink: 0;
  width: 80%;
  max-height: 400px;
  border-radius: 20px;
  margin-left: 25px;
  padding:30px;
  background:rgb(255, 255, 255);
  display:flex;
  justify-content: center;
  align-items: center;

  /* padding:30px; */
  /* margin:20px; */
}
.scroll__content{
  /* width:150%; */
  padding:20px;
  margin:20px;
color:rgb(0, 0, 0);
}
.scroll__content h3{
  font-size:30px;
  width:100%;
  margin-bottom:15px;
}
.scroll__content button{
  margin-top:40px;
  display: flex;
  background-color: rgb(27, 6, 63);
  border-radius: 10px;
  text-align:center;
  padding:15px;
  color:#fff;
}

@media (max-width:1000px){
  .scroll__div{
    border-bottom-left-radius:50px;
    border-bottom-right-radius:0px;
  }
  .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    padding:0px;
    margin:0;
  }
  .scroll__btn{
    margin-top:450px;
    position: absolute;
    padding:20px;
  }
  .itemR{
    width:100%;
    font-size:30px;
  }
  .scroll__nav{
    width: 70%;
    padding:10px;
     height: 100vh;
    margin-left:20px;

  }
  .scroll__container{
    width:90%;
  
    overflow-x: scroll;
    /* padding:50px; */
  }
  .scroll__content h3{
    font-size:16px;
    width:100%;
    margin-bottom:15px;
  }
  .scroll__content p{
    font-size:14px;
    width:100%;
    margin-bottom:15px;
  }
  .scroll__content{
    padding:10px;
    margin:10px;
  }
  .scroll__content button{
    margin-top:15px;
    font-size:10px;
    padding:10px;
  }
}